<a href="https://colab.research.google.com/github/odhissm/venture_funding/blob/main/funding_app/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [4]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path('applicants_data.csv')
)

# Review the DataFrame
display(applicant_data_df.head())
display(applicant_data_df.tail())

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

             EIN  ... IS_SUCCESSFUL
34294  996009318  ...             0
34295  996010315  ...             0
34296  996012607  ...             0
34297  996015768  ...             1
34298  996086871  ...             0

[5 rows x 12 columns]

In [5]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN", "NAME"], axis=1) 

# Review the DataFrame
display(applicant_data_df.head())

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [7]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT"]

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
    
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   APPLICATION_TYPE_T10  ...  INCOME_AMT_5M-10M
0                   1.0  ...                0.0
1                   0.0  ...                0.0
2                   0.0  ...                0.0
3                   0.0  ...                0.0
4                   0.0  ...                0.0

[5 rows x 112 columns]

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df["STATUS"], encoded_df["ASK_AMT"], encoded_df["IS_SUCCESSFUL"] =  [applicant_data_df["STATUS"], applicant_data_df["ASK_AMT"], applicant_data_df["IS_SUCCESSFUL"]]

# Review the Dataframe
encoded_df.head()

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  ...  ASK_AMT  IS_SUCCESSFUL
0                   1.0                   0.0  ...     5000              1
1                   0.0                   0.0  ...   108590              1
2                   0.0                   0.0  ...     5000              0
3                   0.0                   0.0  ...     6692              1
4                   0.0                   0.0  ...   142590              1

[5 rows x 115 columns]

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
display(y)

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.iloc[:, 0:79].values

# Review the features DataFrame
display(X)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1
    
)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [16]:
# Define the the number of inputs (features) to the model
number_input_features = 79

# Review the number of features
number_input_features

79

In [17]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [18]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [19]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [20]:
# Create the Sequential model instance
dnn = Sequential()

In [21]:
# Add the first hidden layer
dnn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [22]:
# Add the second hidden layer
dnn.add(
    Dense(units=hidden_nodes_layer2, activation="relu")
)

In [23]:
# Add the output layer to the model specifying the number of output neurons and activation function
dnn.add(
    Dense(units=number_output_neurons, activation="linear")
)

In [25]:
# Display the Sequential model summary
dnn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 640

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 681
Trainable params: 681
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [26]:
# Compile the Sequential model
dnn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Fit the model using 50 epochs and the training data
model_2 = dnn.fit(X_train_scaled, y_train,  epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2599 - accuracy: 0.6646
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8644 - accuracy: 0.6999
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8189 - accuracy: 0.7109
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7626 - accuracy: 0.7152
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7662 - accuracy: 0.7155
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7682 - accuracy: 0.7164
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7690 - accuracy: 0.7167
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7671 - accuracy: 0.7136
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7602 - accuracy: 0.7168
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7606 - accuracy: 0.7173
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7589 - accuracy: 0.7177
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7585 - accuracy: 0.7171
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7588 - accuracy: 0.7180
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7513 - accuracy: 0.7177
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7477 - accuracy: 0.7181
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7481 - accuracy: 0.7185
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7507 - accuracy: 0.7152
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7407 - accuracy: 0.7135
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7435 - accuracy: 0.7170
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7402 - accuracy: 0.7182
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7391 - accuracy: 0.7189
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7389 - accuracy: 0.7190
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7382 - accuracy: 0.7186
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7385 - accuracy: 0.7189
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7380 - accuracy: 0.7187
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7476 - accuracy: 0.7193
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7369 - accuracy: 0.7200
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7374 - accuracy: 0.7197
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7305 - accuracy: 0.7198
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7251 - accuracy: 0.7198
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7151 - accuracy: 0.7200
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7196 - accuracy: 0.7197
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7207 - accuracy: 0.7196
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7219 - accuracy: 0.7194
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7201 - accuracy: 0.7191
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7122 - accuracy: 0.7200
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7124 - accuracy: 0.7198
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7163 - accuracy: 0.7200
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7125 - accuracy: 0.7201
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7128 - accuracy: 0.7202
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7179 - accuracy: 0.7198
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7107 - accuracy: 0.7205
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7085 - accuracy: 0.7203
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7089 - accuracy: 0.7200
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7087 - accuracy: 0.7203
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7084 - accuracy: 0.7198
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7085 - accuracy: 0.7201
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7087 - accuracy: 0.7200
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7089 - accuracy: 0.7205
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7088 - accuracy: 0.7205

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [28]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = dnn.evaluate(X_test_scaled, y_test, verbose=0)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 0.7289721369743347, Accuracy: 0.719883382320404

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [29]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
dnn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [30]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

AttributeError: ignored

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

In [ ]:
# Create the Sequential model instance
nn_A1 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE


# Output layer
# YOUR CODE HERE


# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the Sequential model
nn_A1.# YOUR CODE HERE

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = # YOUR CODE HERE

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE